/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Header styles */
.header {
  background-color: #e3854b;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  width: 150px;
  height: auto;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.active-link {
  font-weight: bold;
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.lead {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.buttons .btn {
  margin-right: 15px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-warning {
  background-color: #454F8C;
}

.btn-dark {
  background-color: #454F8C;
}

.btn:hover {
  opacity: 0.8;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #458C8C;
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul a {
  color: #fff;
  text-decoration: none;
}

.footer p {
  margin-top: 20px;
  font-size: 0.9rem;
}
